@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Telemetry Class</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.Num</p>
    <p>@Model.ThePersonJoke</p>
    <form method="post">
        <label>ID Number</label>
        <input type="number" name="idnum" />
        <button type="submit">Call JokePersonAPI</button>
    </form>
</div>
